#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/utils.mk
#include /usr/share/cdbs/1/rules/patchsys-quilt.mk

makebuilddir/pulseaudio::
	./autogen.sh
	(cd libltdl && autoheader && aclocal && libtoolize && automake  --add-missing && autoconf && ./configure)
	touch $(CURDIR)/configure

common-build-arch::
	grep -v -e alsa -e evdev -e udev debian/pulseaudio.install > \
	    debian/pulseaudio.install.kfreebsd-i386
	grep -v -e alsa -e evdev -e udev debian/pulseaudio.install > \
	    debian/pulseaudio.install.kfreebsd-amd64
	cp  debian/pulseaudio-module-bluetooth.install  \
	    debian/pulseaudio-module-bluetooth.install.armel
#	Before aptx applied, block this section
#	echo "usr/lib/pulse-*/modules/libbtaptx-armv6L.so" >> \
#	    debian/pulseaudio-module-bluetooth.install.armel

common-install-arch::
	find $(DEB_DESTDIR) -name "*.la" -exec rm '{}' \;
	mkdir -p $(CURDIR)/debian/tmp/usr/share/lintian
	cp -a $(CURDIR)/debian/overrides $(CURDIR)/debian/tmp/usr/share/lintian
	mkdir -p $(CURDIR)/debian/tmp/etc/rc.d/init.d/
	cp $(CURDIR)/pulseaudio.sh.in  $(CURDIR)/debian/tmp/etc/rc.d/init.d/pulseaudio
	mkdir -p $(CURDIR)/debian/tmp/etc/rc.d/rc3.d/
	ln -s ../init.d/pulseaudio $(CURDIR)/debian/tmp/etc/rc.d/rc3.d/S20pulseaudio
	mkdir -p $(CURDIR)/debian/tmp/etc/rc.d/rc4.d/
	ln -s ../init.d/pulseaudio $(CURDIR)/debian/tmp/etc/rc.d/rc4.d/S20pulseaudio

common-configure-arch::
ifneq (,$(findstring $(DEB_HOST_ARCH), "arm armel"))
	make -C src libpulsecore_0.9.21_la-svolume_arm.lo CFLAGS+=-march=armv6
endif

pulseaudio-install-arch::
	dh_installman --language=C debian/tmp/usr/share/man/man5/default.pa.5

common-binary-post-install-arch:: list-missing

clean::
	rm -f debian/pulseaudio.install.kfreebsd-i386
	rm -f debian/pulseaudio.install.kfreebsd-amd64
	rm -f debian/pulseaudio-module-bluetooth.install.armel

#update-patch-series:
#	mkdir -p $(CURDIR)/debian/patches
#	rm -f $(CURDIR)/debian/patches/*.patch
#	git format-patch -o $(CURDIR)/debian/patches patches ^upstream | \
#		xargs -n 1 basename > $(CURDIR)/debian/patches/series
#	for patch in $$(ls $(CURDIR)/debian/patches/*.patch) ; \
#	do \
#		lines=$$(cat $$patch | wc -l) ; \
#		head -n $$(($$lines - 3)) $$patch > $${patch}.chomped ; \
#		mv $${patch}.chomped $$patch ; \
#	done

ifneq (,$(findstring $(DEB_HOST_ARCH_OS), "linux"))
  DEB_CONFIGURE_EXTRA_FLAGS = --enable-hal-compat --disable-hal
endif

#Before aptx applied, block this section
#ifneq (,$(findstring $(DEB_HOST_ARCH), "arm armel"))
#  DEB_CONFIGURE_EXTRA_FLAGS += --enable-bt-a2dp-aptx
#endif

#DEB_CONFIGURE_EXTRA_FLAGS += --enable-alsa --with-system-user=root --with-system-group=root --with-access-group=root --disable-ipv6 --disable-oss-output --disable-oss-wrapper --disable-largefile
#DEB_CONFIGURE_EXTRA_FLAGS += --prefix=/usr --with-system-user=root --with-system-group=root --with-access-group=root --enable-alsa --disable-ipv6 --disable-oss-output --disable-oss-wrapper
DEB_CONFIGURE_EXTRA_FLAGS += --prefix=/usr --enable-alsa --disable-ipv6 --disable-oss-output --disable-oss-wrapper --enable-dlog --disable-legacy-runtime-dir
DEB_DH_MAKESHLIBS_ARGS_ALL = --exclude=usr/lib/pulse-0.9.21/modules
DEB_DH_SHLIBDEPS_ARGS_libpulse0 = -u -L/dev/null
DEB_DH_SHLIBDEPS_ARGS_pulseaudio = -u -Ldebian/shlibs_pulseaudio.local
DEB_DH_INSTALL_ARGS = --sourcedir=$(CURDIR)/debian/tmp
DEB_UPDATE_RCD_PARAMS = start 25 2 3 4 5 . stop 15 1 .
